.current-value-div {
    position: relative;
    width: 125px;
    max-width: 60vw;

    overflow: hidden;

    padding: 10px;

    background-color: white;

    min-width: 200px;
    min-height: 150px;
}
.current-value-div:hover {
    cursor: pointer;
}
.top-card {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 1);
}
.current-value-div:hover > .top-card {
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0);
}
.current-value-div:hover > .top-card > .current-value {
    transform: translate(0%, 0%);
    right: 0;
    top: 0;
    padding: 5px;
    opacity: 60%;
    font-size: calc(min(125px, 60vw) * 0.1);
}
.value-background {
    background-color: rgb(150, 150, 150);
    z-index: -1;
    width: 85%;
    height: 85%;
}
.current-value-div > .top-card > .current-value {
    font-size: calc(min(125px, 60vw) * 0.2);

    color: black;

    transform: translate(50%, -50%);
    right: 50%;
    top: 50%;

    transition: all 0.5s;
}
.current-value > * {
    text-align: center;
}

.weather-values {
    border-style: solid;
    border-width: 0;

    border-radius: 10px;
    overflow: hidden;

    gap: 1px;
    box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF,
                0 0 2px 0 rgb(100, 100, 100);
}
