<div class="d-flex flex-column flex-nowrap">
    <div class="position-relative weather-values m-4 d-flex flex-wrap flex-row align-self-stretch justify-content-center flex-grow-1 mt-3">
        <ng-container *ngFor="let sensor of weatherData?.sensors">
            <div class="current-value-div temperature-value align-content-center justify-content-center flex-grow-1" *ngIf="sensor.lastMeasurement !== undefined">
                <div class="position-absolute top-card">
                    <div class="position-relative current-value d-flex flex-column flex-nowrap"><label>{{sensor?.lastMeasurement?.value}}{{sensor?.unit}}</label><small style="font-size: 0.5em">{{sensor.title}}</small></div>
                </div>
            </div>
        </ng-container>

        <div class="value-background position-absolute center"></div>
    </div>
</div>
